* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
    font-display: swap;
}
* ::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.carousel-slider {
    height: 100%;
    padding: 50px;
}

.carousel-container {
    height: 75vh;
    position: unset;
}

.react-multi-carousel-track {
    position: unset !important;
}

.react-multi-carousel-list {
    position: unset !important;
}

.react-multiple-carousel__arrow {
    margin-bottom: 30px;
}

.carousel-item {
    margin: auto;
}

.Typewriter {
    color: rgb(93,113,258);
}

@media screen and (max-width: 1300px) {
    .carousel-container {
        margin-left: 70px;
        margin-right: 70px;
    }
}

@media screen and (max-width: 500px) {
    #tsparticles {
        display: none;
    }
}